
@{
    ViewBag.Title = "Authors";
}

<div class="content-box" ng-controller="AngularLoginController">
    <h1>Author:</h1>
    <p>Delvo, Florian, 2710856</p>
    <h1>Additional Features:</h1>
    <ul>
        <li>
            Multiple stocks
            <ul>
                <li>Assignement of products to a stock</li>
            </ul>
        </li>
        <li>
            Administration (of users, addresses, customers and suppliers)
        </li>
        <li>
            Addresses
        </li>
        <li>
            Delivery Notes
        </li>
        <li>
            Goods Receipts
        </li>
        <li>
            Responsive Design via media queries with breakpoints for certain widhts(in px) of devices
        </li>
        <li>
            Registration of users
        </li>
        <li>
            Simple SQL search
        </li>
    </ul>
</div>

