<div class="content-box">
    <form>
        <label>Username:</label>
        <br/>
        <input type="text"/>
        <br/>
        <label>Password:</label>
        <br />
        <input type="password"/>
        <br/>
        <input type="submit" value="Login"/>
        <br/>
        <a>Register</a>
    </form>
</div>