
@{
    ViewBag.Title = "Register";
}

<div class="content-box" ng-controller="AngularLoginController">
    <h1>Register</h1>
    <form ng-submit="Register()">
        <label>Email</label>
        <input type="email" ng-model="model.Email" placeholder="Email"/>
        <br/>
        <label>Alias</label>
        <input type="text" ng-model="model.Alias" placeholder="Alias"/>
        <br/>
        <label>Password</label>
        <input type="password" ng-model="model.Password" placeholder="Password"/>
        <br/>
        <label>Confirm Password</label>
        <input type="password" ng-model="model.ConfirmPassword" placeholder="Confirm Password"/>
        <br/>
        <label></label>
        <input type="submit" value="Register"/>
    </form>
</div>

