@{
    ViewBag.Title = "Index";
}

<div class="content-box" ng-controller="AngularStocksController">
    <h1>Stocks</h1>
    <div class="nav-bar">
        <a href="/Stock/New" class="button">New Stock</a>
    </div>
    <table ng-init="StockList()">
        <thead>
        <tr>
            <th>Stock Name</th>
            <th>Stock Address</th>
            <th>Stock Mehthod</th>
            <th>Stock Value</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in stocks.DataObject track by s.StockGuid">
            <td>
                <a href="/Stock/StockItems/{{s.StockGuid}}">{{s.StockName}}</a>
            </td>
            <td>
                <ul>
                    <li>Company: {{s.StockAddress.AddressCompany}}</li>
                    <li>Forename: {{s.StockAddress.AddressForName}}</li>
                    <li>Lastname: {{s.StockAddress.AddressLastName}}</li>
                    <li>Street: {{s.StockAddress.AddressStreet}}</li>
                    <li>Zipcode | City: {{s.StockAddress.AddressZipCode}} | {{s.StockAddress.AddressCity}}</li>
                    <li>Country: {{s.StockAddress.AddressCountry}}</li>
                </ul>
            </td>
            <td>{{s.StockMethod}}</td>
            <td>{{s.StockValue}}</td>
            <td>
                <a href="/Stock/Edit/{{s.StockGuid}}">Edit</a>
            </td>
            <td>
                <a href="" ng-click="RemoveStock(s.StockGuid)">Delete</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5"><a class="button" href="" ng-click="Previous(stocks.CurrentPage, stocks.PageAmount, StockList)">Previous</a> {{stocks.CurrentPage+1}} / {{stocks.PageAmount}} <a class="button" href="" ng-click="Next(stocks.CurrentPage, stocks.PageAmount, StockList)">Next</a></td>
        </tr>
        </tfoot>
    </table>
</div>