
@{
    ViewBag.Title = "StockItems";
}

<div class="content-box" ng-controller="AngularStocksController" ng-init="StockDetails(GetValueAtIndex(5)); StockItemList(GetValueAtIndex(5))">
    <a class="back-link" href="javascript: window.history.back();">Back</a>
    <h1>{{stock.StockName}}</h1>
    <div class="nav-bar">
        <a href="/Stock/StockTransactions/{{stock.StockGuid}}" class="button">Show Stock Transactions</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Stock Item Product</th>
                <th>Stock Item Product Price</th>
                <th>Quantity</th>
                <th>Maximum Quantity</th>
                <th>Minimum Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="si in stockItems.DataObject track by si.StockItemGuid">
                <td><a href="/ProductManagement/ProductDetails/{{si.StockItemProduct.ProductGuid}}">{{si.StockItemProduct.ProductName}}</a></td>
                <td>{{si.StockItemProduct.ProductPrice}}</td>
                <td>{{si.StockItemQuantity}}</td>
                <td>{{si.StockItemMaximumQuantity}}</td>
                <td>{{si.StockItemMinimumQuantity}}</td>
                <td>
                    <form ng-submit="StockTransaction($index)">
                        <input hidden="hidden" ng-model="newStockTransaction[$index].StockItemGuid" ng-init="newStockTransaction[$index].StockItemGuid = si.StockItemGuid"/>
                        <input ng-model="newStockTransaction[$index].StockItemQuantity" type="number"/>
                        <input type="submit" value="Submit Stock Transaction"/>
                    </form>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"><a class="button" href="" ng-click="Previous(stockItems.CurrentPage, stockItems.PageAmount, StockItemList)">Previous</a> {{stockItems.CurrentPage+1}} / {{stockItems.PageAmount}} <a class="button" href="" ng-click="Next(stockItems.CurrentPage, stockItems.PageAmount, StockItemList)">Next</a></td>
            </tr>
        </tfoot>
    </table>
</div>

