@{
    ViewBag.Title = "Index";
}

<div class="content-box" ng-controller="AngularSupplysController">
    <h1>Supplys</h1>
    <div class="nav-bar">
        <a class="button" href="/Supplys/New">New Supply</a>
        <a class="button" href="/GoodsReceipts/Index">Goods Receipts</a>
    </div>
    <table ng-init="SupplyList()">
        <thead>
        <tr>
            <th>Supply ID</th>
            <th>Supplier</th>
            <th>Creation Date</th>
            <th>Delivery Date</th>
            <th>Supply Value</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in supplys.DataObject track by s.SupplyGuid">
            <td>
                <a href="/Supplys/SupplyItems/{{s.SupplyGuid}}">{{s.SupplyGuid}}</a>
            </td>
            <td>{{s.SupplyCustomer.Alias}}</td>
            <td>{{s.SupplyDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{s.SupplyDeliveryDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{s.SupplyValue}}</td>
            <td>
                <a href="/GoodsReceipts/New/{{s.SupplyGuid}}">Create Goods Receipt</a>
            </td>
            <td>
                <a href="/Supplys/Edit/{{s.SupplyGuid}}">Edit</a>
            </td>
            <td>
                <a href="" ng-click="RemoveSupply(s.SupplyGuid)">Delete</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5"><a class="button" href="" ng-click="Previous(supplys.CurrentPage, supplys.PageAmount, SupplyList)">Previous</a> {{supplys.CurrentPage+1}} / {{supplys.PageAmount}} <a class="button" href="" ng-click="Next(supplys.CurrentPage, supplys.PageAmount, SupplyList)">Next</a></td>
        </tr>
        </tfoot>
    </table>
</div>