@{
    ViewBag.Title = "EditCustomer";
}

<div class="content-box" ng-controller="AngularAdminController" ng-init="CustomerDetails(GetValueAtIndex(5));AddressList(0);">
    <a class="back-link" href="javascript: window.history.back();">Back</a>
    <h1>Edit Customer</h1>
    <form ng-submit="EditCustomer()">
        <label>Forname:</label>
        <input type="text" ng-model="customer.CustomerForName" placeholder="Forname"/>
        <br/>
        <label>Lastname:</label>
        <input type="text" ng-model="customer.CustomerLastName" placeholder="Lastname"/>
        <br/>
        <label>Company:</label>
        <input type="text" ng-model="customer.CustomerCompany" placeholder="Company"/>
        <br/>
        <label>Address:</label>
        <select ng-options="address.AddressDescription for address in addresses.DataObject track by address.AddressGuid" ng-model="customer.CustomerAddress"></select>
        <br/>
        <ul ng-show="error" class="error-ul">
            <li ng-repeat="e in errorMessages">{{e}}</li>
        </ul>
        <br/>
        <input type="submit" value="Save Customer"/>
    </form>
</div>