@{
    ViewBag.Title = "EditAddress";
}


@{
    ViewBag.Title = "address";
}

<div class="content-box" ng-controller="AngularAdminController" ng-init="AddressDetails(GetValueAtIndex(5))">
    <a class="back-link" href="javascript: window.history.back();">Back</a>
    <form ng-submit="EditAddress()">
        <label>Description:</label>
        <input type="text" ng-model="address.AddressDescription"/>
        <br/>
        <label>Forname:</label>
        <input type="text" ng-model="address.AddressForName"/>
        <br/>
        <label>Lastname:</label>
        <input type="text" ng-model="address.AddressLastName"/>
        <br/>
        <label>Company:</label>
        <input type="text" ng-model="address.AddressCompany"/>
        <br/>
        <label>Phone:</label>
        <input type="text" ng-model="address.AddressPhone"/>
        <br/>
        <label>Email:</label>
        <input type="text" ng-model="address.AddressEmail"/>
        <br/>
        <label>Street:</label>
        <input type="text" ng-model="address.AddressStreet"/>
        <br/>
        <label>Zipcode:</label>
        <input type="text" ng-model="address.AddressZipCode"/>
        <br/>
        <label>City:</label>
        <input type="text" ng-model="address.AddressCity"/>
        <br/>
        <label>Country:</label>
        <input type="text" ng-model="address.AddressCountry"/>
        <br/>
        <label></label>
        <input type="submit" value="Save Address"/>
    </form>
</div>