
@{
    ViewBag.Title = "NewAddress";
}

<div class="content-box" ng-controller="AngularAdminController">
    <form ng-submit="CreateAddress()">
        <label>Description:</label>
        <input type="text" ng-model="newAddress.AddressDescription" />
        <br />
        <label>Forname:</label>
        <input type="text" ng-model="newAddress.AddressForName" />
        <br />
        <label>Lastname:</label>
        <input type="text" ng-model="newAddress.AddressLastName" />
        <br/>
        <label>Company:</label>
        <input type="text" ng-model="newAddress.AddressCompany" />
        <br/>
        <label>Phone:</label>
        <input type="number" ng-model="newAddress.AddressPhone" />
        <br/>
        <label>Email:</label>
        <input type="text" ng-model="newAddress.AddressEmail" />
        <br/>
        <label>Street:</label>
        <input type="text" ng-model="newAddress.AddressStreet" />
        <br />
        <label>Zipcode:</label>
        <input type="text" ng-model="newAddress.AddressZipCode" />
        <br/>
        <label>City:</label>
        <input type="text" ng-model="newAddress.AddressCity" />
        <br/>
        <label>Country:</label>
        <input type="text" ng-model="newAddress.AddressCountry" />
        <br/>
        <label></label>
        <input type="submit" value="Create Address" />
    </form>
</div>

