@{
    ViewBag.Title = "NewUser";
}

<div class="content-box" ng-controller="AngularAdminController">
    <a class="back-link" href="javascript: window.history.back();">Back</a>
    <h1>Create User</h1>
    <form ng-submit="CreateUser()">
        <label>Email:</label>
        <input type="email" ng-model="model.Email" placeholder="Email"/>
        <br/>
        <label>Forname:</label>
        <input type="text" ng-model="model.ForName" placeholder="Forname"/>
        <br/>
        <label>Lastname:</label>
        <input type="text" ng-model="model.LastName" placeholder="LastName"/>
        <br/>
        <label>Alias:</label>
        <input type="text" ng-model="model.Alias" placeholder="Alias"/>
        <br/>
        <label>Password:</label>
        <input type="password" ng-model="model.Password" placeholder="Password"/>
        <br/>
        <label>Confirm Password:</label>
        <input type="password" ng-model="model.ConfirmPassword" placeholder="Confirm Password"/>
        <br/>
        <ul ng-show="error" class="error-ul">
            <li ng-repeat="e in errorMessages">{{e}}</li>
        </ul>
        <br/>
        <input type="submit" value="Create User"/>
    </form>
</div>