@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

html {
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
}

body {
    background-color: #F2EFEA;
    bottom: 0;
    margin: 0;
    overflow-x: hidden;
}


/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

.search-form { text-align: left; }

.error-ul {
    color: red;
    font-weight: 700;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    background-color: #BF0603;
    bottom: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    color: #F2EFEA;
    position: fixed;
    width: 100%;
}

.menu-open { display: none; }

.nav-icon { padding: 1rem; }

.nav-icon a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.nav-ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

.nav-ul li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 0.25rem solid #BF0603;
    box-sizing: border-box;
    display: inline-block;
}

.nav-ul li:hover { border-bottom: 0.25rem solid #FFFFFF; }

.nav-ul li a {
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}

.nav-bar {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 80%;
}

form { text-align: center; }

label { display: block; }

input, select {
    -moz-box-sizing: border-box;
    -ms-border-radius: 3px;
    -webkit-box-sizing: border-box;
    border: 0.1rem lightgrey solid;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem;
    width: 100%;
}

input[type=submit]:hover, input[type=button]:hover { opacity: 0.8; }

input[type=submit], input[type=button] {
    background-color: lightgrey;
    background-color: #708D81;
    color: #F2EFEA;
    cursor: pointer;
    font-family: 'Roboto', sans-serif !important;
    width: 100%;
}

.button {
    -ms-border-radius: 3px;
    background-color: #708D81;
    border-radius: 3px;
    color: #F2EFEA;
    cursor: pointer;
    font-family: 'Roboto', sans-serif !important;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;
    width: 100%;
}

.button:hover { opacity: 0.8; }

.content-box {
    -moz-box-sizing: border-box;
    -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    -webkit-box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    box-sizing: border-box;
    margin-bottom: 5%;
    padding: 2rem;
    width: 100%;
}

ul { margin: 0; }

table { width: 100%; }

thead { text-align: left; }

th {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

td {
    text-align: left;
    vertical-align: top;
}

tbody tr td {
    border-bottom: 0.1rem solid lightgrey;
    padding-top: 1rem;
}

tbody tr:last-child td { border-bottom: none; }

tfoot td {
    padding-top: 2rem;
    text-align: center;
}

.label {
    -ms-border-radius: 3px;
    background-color: #BF0603;
    border-radius: 3px;
    color: white;
    display: block;
    margin-bottom: 0.1rem;
    padding: 0.25rem;
}

@media (max-width: 1024px) {
    table, tr, td, th, thead, tbody, tfoot { display: block; }

    main {
        margin-bottom: 25%;
        margin-top: 0;
        width: 100%;
    }

    nav {
        box-sizing: border-box;
        padding: 1.5rem;
    }

    .menu-open {
        display: inline-block;
        float: right;
    }

    .nav-ul { display: none; }

    .mobile-nav-ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .mobile-nav-ul li {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-bottom: 0.25rem solid #FFFFFF;
        box-sizing: border-box;
        display: block;
    }

    .mobile-nav-ul li:first-child {
        border-top: 0.25rem solid #FFFFFF;
        margin-top: 1rem;
    }

    .mobile-nav-ul li a {
        color: white;
        cursor: pointer;
        display: block;
        padding: 1rem;
        text-decoration: none;
    }

    .content-box {
        padding: 0.75rem;
        width: 100%;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .button {
        margin: 0.25rem;
        width: auto;
    }

    table thead { display: none; }

    table tbody tr:last-child td { border-bottom: 0.1rem solid lightgrey; }

    table tbody tr td:before {
        content: attr(data-th);
        display: inline-block;
        font-weight: bold;
        width: 10rem;
    }

    table tbody tr td:first-child:before { content: none; }

    table tbody tr td:first-child {
        background: #001427;
        color: #fff;
        margin: 0 -9999rem;
        padding: 0.5rem 9999rem;
    }

    table tbody tr td:first-child a { color: #fff; }

    table tbody tr td:last-child { margin-bottom: 1rem; }
}

@media (max-width: 500px) {
}