@{
    ViewBag.Title = "DeliveryNoteItems";
}

<div class="content-box" ng-controller="AngularOrdersController" ng-init="DeliveryNoteDetails(GetValueAtIndex(5))">
    <a class="back-link" href="javascript: window.history.back();">Back</a>
    <h1>Delivery Note: {{GetValueAtIndex(5)}}</h1>
    <p>Order: {{deliveryNote.DeliveryNote.DeliveryOrder.OrderGuid}}</p>
    <div class="nav-bar">
        <a class="button" href="/DeliveryNotes/Edit/{{deliveryNote.DeliveryNote.DeliveryGuid}}">Edit</a>
        <a class="button" href="" ng-click="RemoveDeliveryNote(deliveryNote.DeliveryNote.DeliveryOrder)">Delete</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Order Quantity</th>
            <th>Total Price</th>
            <th>Delivery Note Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="deliveryItem in deliveryNote.DeliveryItems track by deliveryItem.DeliveryItemGuid">
            <td data-th="Product">
                <a href="/ProductManagement/ProductDetails/{{deliveryItem.DeliveryItemOrderItem.OrderItemStockItem.StockItemProduct.ProductGuid}}">{{deliveryItem.DeliveryItemOrderItem.OrderItemStockItem.StockItemProduct.ProductName}}</a>
            </td>
            <td data-th="Unit Price">{{deliveryItem.DeliveryItemOrderItem.OrderItemStockItem.StockItemProduct.ProductPrice}}</td>
            <td data-th="Order Quantity">{{deliveryItem.DeliveryItemOrderItem.OrderQuantity}}</td>
            <td data-th="Total Price">{{deliveryItem.DeliveryItemOrderItem.OrderQuantity * deliveryItem.DeliveryItemOrderItem.OrderItemStockItem.StockItemProduct.ProductPrice}}</td>
            <td data-th="Delivery Note Quantity">{{deliveryItem.DeliveryItemQuantity}}</td>
        </tr>
        </tbody>
    </table>
</div>