@{
    ViewBag.Title = "Index";
}

<div class="content-box" ng-controller="AngularOrdersController">
    <a class="back-link" href="javascript: window.history.back();">Back</a>
    <h1>Delivery Notes</h1>
    <div class="nav-bar">
    </div>
    <form class="search-form" ng-submit="DeliveryNoteSearch()">
        <input type="text" ng-model="searchString"/>
        <input type="submit" value="Search"/>
        <input type="button" value="Reset" ng-click="DeliveryNotesList()"/>
    </form>
    <table ng-init="DeliveryNotesList()">
        <thead>
        <tr>
            <th>Delivery Note ID</th>
            <th>Order ID</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="d in deliveryNotes.DataObject track by d.DeliveryGuid">
            <td>
                <a href="/DeliveryNotes/DeliveryNoteItems/{{d.DeliveryGuid}}">{{d.DeliveryGuid}}</a>
            </td>
            <td data-th="Order">
                <a href="/Orders/OrderItems/{{d.DeliveryOrder.OrderGuid}}">{{d.DeliveryOrder.OrderGuid}}</a>
            </td>
            <td>
                <a href="/DeliveryNotes/Edit/{{d.DeliveryGuid}}">Edit</a>
            </td>
            <td>
                <a href="" ng-click="RemoveDeliveryNote(d.DeliveryGuid)">Delete</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5"><a class="button" href="" ng-click="Previous(deliveryNotes.CurrentPage, deliveryNotes.PageAmount, DeliveryNotesList)">Previous</a> {{deliveryNotes.CurrentPage+1}} / {{deliveryNotes.PageAmount}} <a class="button" href="" ng-click="Next(deliveryNotes.CurrentPage, deliveryNotes.PageAmount, DeliveryNotesList)">Next</a></td>
        </tr>
        </tfoot>
    </table>
</div>