@{
    ViewBag.Title = "New";
}

<div class="content-box" ng-controller="AngularOrdersController">
    <a class="back-link" href="javascript: window.history.back();">Back</a>
    <h1>Create Order</h1>
    <form ng-init="CustomerList(0); ProductList();" ng-submit="CreateOrder()">
        <label>Customer:</label>
        <select ng-options="customer.CustomerLastName || customer.CustomerCompany for customer in customers.DataObject track by customer.CustomerGuid" ng-model="newOrder.OrderCustomer"></select>
        <br/>
        <label>Delivery Date:</label>
        <input type="date" ng-model="newOrder.OrderDeliveryDate"/>
        <br/>
        <ul ng-show="error" class="error-ul">
            <li ng-repeat="e in errorMessages">{{e}}</li>
        </ul>
        <br/>
        <input type="submit" value="Create Order"/>
        <br/>
        <h3>Products To Order:</h3>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="oI in orderItems track by oI.ProductGuid">
                <td data-th="Name">{{oI.ProductName}}</td>
                <td data-th="Price">{{oI.ProductPrice}}</td>
                <td data-th="Quantity">
                    <input ng-model="oI.OrderQuantity" type="number"/>
                </td>
                <td>
                    <a ng-click="RemoveProductFromOrderItems($index)" href="">Remove</a>
                </td>
            </tr>
            </tbody>
        </table>
        <h3>Available Products:</h3>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in products.DataObject track by p.ProductGuid">
                <td data-th="Name">{{p.ProductName}}</td>
                <td data-th="Price">{{p.ProductPrice}}</td>
                <td data-th="Quantity">
                    <input ng-model="orderQuantity[$index].value" type="number"/>
                </td>
                <td>
                    <a ng-click="AddProductToOrderItems(p, $index)" href="">Add</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4"><a class="button" href="" ng-click="Previous(products.CurrentPage, products.PageAmount, ProductList)">Previous</a> {{products.CurrentPage+1}} / {{products.PageAmount}} <a class="button" href="" ng-click="Next(products.CurrentPage, products.PageAmount, ProductList)">Next</a></td>
            </tr>
            </tfoot>
        </table>
        <br/>
        <ul ng-show="error" class="error-ul">
            <li ng-repeat="e in errorMessages">{{e}}</li>
        </ul>
        <br/>
        <input type="submit" value="Create Order"/>
    </form>
</div>