@{
    ViewBag.Title = "Details";
}

<div class="content-box" ng-controller="AngularOrdersController" ng-init="OrderDetails(GetValueAtIndex(5))">
    <a class="back-link" href="javascript: window.history.back();">Back</a>
    <h1>Order: {{GetValueAtIndex(5)}}</h1>
    <div ng-hide="order.Order.OrderDeleted" class="nav-bar">
        <a class="button" href="/Orders/Edit/{{order.Order.OrderGuid}}">Edit</a>
        <a class="button" href="" ng-click="RemoveOrder(order.Order.OrderGuid)">Delete</a>
    </div>
    <span ng-show="order.Order.OrderDeleted" class="label">Old Order</span>
    <table>
        <thead>
        <tr>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Remarks</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="orderItem in order.OrderItems track by orderItem.OrderItemGuid">
            <td data-th="Product">
                <a href="/ProductManagement/ProductDetails/{{orderItem.OrderItemStockItem.StockItemProduct.ProductGuid}}">{{orderItem.OrderItemStockItem.StockItemProduct.ProductName}}</a>
            </td>
            <td data-th="Unit Price">{{orderItem.OrderItemStockItem.StockItemProduct.ProductPrice}}</td>
            <td data-th="Quantity">{{orderItem.OrderQuantity}}</td>
            <td data-th="Total Price">{{orderItem.OrderQuantity * orderItem.OrderItemStockItem.StockItemProduct.ProductPrice}}</td>
            <td data-th="Remarks">
                <span ng-show="orderItem.OrderItemStockItem.StockItemProduct.ProductDeleted" class="label">Old Product</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>