
@{
    ViewBag.Title = "Details";
}

<div class="content-box" ng-controller="AngularOrdersController" ng-init="OrderItemsList(GetValueAtIndex(5))">
    <h1>Order: {{orderItems.OrderGuid}}</h1>
    <table>
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="orderItems in orderItems track by orderItems.OrderItemGuid">
                <td>{{orderItems.OrderItemProduct.ProductGuid}}</td>
                <td><a href="/ProductManagement/ProductDetails/{{orderItems.OrderItemProduct.ProductGuid}}">{{orderItems.OrderItemProduct.ProductName}}</a></td>
                <td>{{orderItems.OrderItemProduct.ProductPrice}}</td>
                <td>{{orderItems.OrderQuantity}}</td>
                <td>{{orderItems.OrderQuantity * orderItems.OrderItemProduct.ProductPrice}}</td>
                <td><a href="/Orders/OrderItem/{{orderItems.OrderItemGuid}}">Edit</a></td>
                <td><a href="" ng-click="RemoveOrderItem(orderItems.OrderItemGuid)">Delete</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="7">Pagination</th>
            </tr>
        </tfoot>
    </table>
</div>

