
@{
    ViewBag.Title = "Details";
}

<div class="content-box" ng-controller="AngularOrdersController" ng-init="OrderItemsList(GetValueAtIndex(5))">
    <h1>Order: {{GetValueAtIndex(5)}}</h1>
    <div class="nav-bar">
        <a class="button" href="/Orders/OrderItem/{{orderItems.OrderItemGuid}}">Edit</a>
        <a class="button" href="" ng-click="RemoveOrderItem(orderItems.OrderItemGuid)">Delete</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="orderItem in orderItems.DataObject track by orderItem.OrderItemGuid">
                <td>{{orderItem.OrderItemStockItem.StockItemProduct.ProductGuid}}</td>
                <td><a href="/ProductManagement/ProductDetails/{{orderItem.OrderItemStockItem.StockItemProduct.ProductGuid}}">{{orderItem.OrderItemStockItem.StockItemProduct.ProductName}}</a></td>
                <td>{{orderItem.OrderItemStockItem.StockItemProduct.ProductPrice}}</td>
                <td>{{orderItem.OrderQuantity}}</td>
                <td>{{orderItem.OrderQuantity * orderItem.OrderItemStockItem.StockItemProduct.ProductPrice}}</td>               
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"><a href="" ng-click="Previous(orderItems.CurrentPage, orderItems.PageAmount, OrderItemsList)">Previous</a> {{orderItems.CurrentPage+1}} / {{orderItems.PageAmount}} <a href="" ng-click="Next(orderItems.CurrentPage, orderItems.PageAmount, OrderItemsList)">Next</a></td>
            </tr>
        </tfoot>
    </table>
</div>

