@{
    ViewBag.Title = "New";
}

<div class="content-box" ng-controller="AngularSupplysController">
    <a class="back-link" href="javascript: window.history.back();">Back</a>
    <h1>Create Goods Receipt</h1>
    <form ng-init="SupplyItemsList(GetValueAtIndex(5))" ng-submit="CreateGoodsReceipt()">
        <label>Supply:</label>
        <input ng-model="newGoodsReceipt.GoodsReceiptSupply" ng-init="newGoodsReceipt.GoodsReceiptSupply = GetValueAtIndex(5)" disabled="disabled"/>
        <br/>
        <ul ng-show="error" class="error-ul">
            <li ng-repeat="e in errorMessages">{{e}}</li>
        </ul>
        <br />
        <input type="submit" value="Create Goods Receipt"/>
        <br/>
        <table>
            <thead>
            <tr>
                <th>Product</th>
                <th>Unit Price</th>
                <th>Supply Quantity</th>
                <th>Total Price</th>
                <th>Goods Receipt Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="supplyItem in supplyItems.DataObject track by supplyItem.SupplyItemGuid">
                <td>
                    <input hidden ng-model="goodsReceiptItem[$index].GoodsReceiptItemSupplyItem" ng-init="goodsReceiptItems[$index].GoodsReceiptItemSupplyItem = supplyItem.SupplyItemGuid" disabled="disabled"/>
                </td>
                <td data-th="Product">
                    <a href="/ProductManagement/ProductDetails/{{supplyItem.SupplyItemStockItem.StockItemProduct.ProductGuid}}">{{supplyItem.SupplyItemStockItem.StockItemProduct.ProductName}}</a>
                </td>
                <td data-th="Unit Price">{{supplyItem.SupplyItemStockItem.StockItemProduct.ProductPrice}}</td>
                <td data-th="Supply Quantity">{{supplyItem.SupplyQuantity}}</td>
                <td data-th="Total Price">{{supplyItem.SupplyQuantity * supplyItem.SupplyItemStockItem.StockItemProduct.ProductPrice}}</td>
                <td data-th="GR Quantity">
                    <input ng-model="goodsReceiptItem[$index].GoodsReceiptItemQuantity" ng-init="goodsReceiptItems[$index].GoodsReceiptItemQuantity = supplyItem.SupplyQuantity" type="number"/>
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <ul ng-show="error" class="error-ul">
            <li ng-repeat="e in errorMessages">{{e}}</li>
        </ul>
        <br />
        <input type="submit" value="Create Goods Receipt"/>
    </form>
</div>