@{
    ViewBag.Title = "Index";
}

<div ng-controller="AngularProductsController" ng-init="ProductList()" class="content-box">
    <h1>Products</h1>
    <div class="nav-bar">
        <a href="/ProductManagement/New" class="button">New Product</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in products.DataObject track by p.ProductGuid">
            <td>{{p.ProductName}}</td>
            <td>{{p.ProductDescription}}</td>
            <td>{{p.ProductPrice}}</td>
            <td>
                <a href="/ProductManagement/Edit/{{p.ProductGuid}}">Edit</a>
            </td>
            <td>
                <a href="" ng-click="RemoveProduct(p.ProductGuid)">Delete</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5"><a class="button" href="" ng-click="Previous(products.CurrentPage, products.PageAmount, ProductList)">Previous</a> {{products.CurrentPage+1}} / {{products.PageAmount}} <a class="button" href="" ng-click="Next(products.CurrentPage, products.PageAmount, ProductList)">Next</a></td>
        </tr>
        </tfoot>
    </table>
</div>