
@{
    ViewBag.Title = "New";
}

<div class="content-box" ng-controller="AngularProductsController">
    <form ng-init="StockList()" ng-submit="CreateProduct()">
        <label>Product Name:</label>
        <input type="text" ng-model="newProduct.ProductName"/>
        <br/>
        <label>Product Description:</label>
        <input type="text" ng-model="newProduct.ProductDescription" />
        <br/>
        <label>Product Price:</label>
        <input type="number" ng-model="newProduct.ProductPrice" />
        <br/>
        <label>Stock:</label>
        <select ng-options="stock.StockName for stock in stocks track by stock.StockGuid" ng-model="stock"></select>
        <br />
        <label></label>
        <input type="submit" value="Create Product"/>
    </form>
</div>

