@{
    ViewBag.Title = "New";
}

<div class="content-box" ng-controller="AngularProductsController">
    <a class="back-link" href="javascript: window.history.back();">Back</a>
    <h1>Create Product</h1>
    <form ng-init="StockList()" ng-submit="CreateProduct()">
        <label>Product Name:</label>
        <input type="text" ng-model="newProduct.ProductName"/>
        <br/>
        <label>Product Description:</label>
        <input type="text" ng-model="newProduct.ProductDescription"/>
        <br/>
        <label>Product Price:</label>
        <input type="number" ng-model="newProduct.ProductPrice"/>
        <br/>
        <label>Stock:</label>
        <select ng-options="stock.StockName for stock in stocks.DataObject track by stock.StockGuid" ng-model="stock"></select>
        <br/>
        <label>Minimum Stock Quantity:</label>
        <input type="number" ng-model="minQuantity"/>
        <br/>
        <label>Maximum Stock Quantity:</label>
        <input type="number" ng-model="maxQuantity" />
        <br />
        <ul ng-show="error" class="error-ul">
            <li ng-repeat="e in errorMessages">{{e}}</li>
        </ul>
        <br />
        <input type="submit" value="Create Product"/>
    </form>
</div>