@{
    ViewBag.Title = "Details";
}

<div class="content-box" ng-controller="AngularProductsController" ng-init="ProductDetails(GetValueAtIndex(5))">
    <a class="back-link" href="javascript: window.history.back();">Back</a>
    <h1>Product Details</h1>
    <div ng-hide="product.ProductDeleted" class="nav-bar">
        <a class="button" href="/ProductManagement/Edit/{{product.ProductGuid}}">Edit</a>
        <a class="button" href="" ng-click="RemoveProduct(product.ProductGuid)">Delete</a>
    </div>
    <span ng-show="product.ProductDeleted" class="label">Old Product</span>
    <table>
        <tr>
            <td>
                <b>Name:</b>
            </td>
            <td>{{product.ProductName}}</td>
        </tr>
        <tr>
            <td>
                <b>Price:</b>
            </td>
            <td>{{product.ProductPrice}}</td>
        </tr>
        <tr>
            <td>
                <b>Description:</b>
            </td>
            <td>{{product.ProductDescription}}</td>
        </tr>
    </table>
</div>